<a href="https://colab.research.google.com/github/alklyatov/ML-DL_LR/blob/main/LR_3_Klyatov_Shilov.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Импортируем бибилиотеки и приводим нашу таблицу к числовым значениям.

In [ ]:
import pandas as pd
import re
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold, cross_val_score, GridSearchCV
from matplotlib import pyplot as plt
import numpy as np
%matplotlib inline

from google.colab import drive
drive.mount ('/content/drive')

data = pd.read_csv('/content/drive/MyDrive/NetflixOriginals.csv', sep=',',encoding='latin-1')

data = data.drop(['Title','Genre'],axis = 'columns' ) 
counts = data['Language'].value_counts()
nan_count = data['Language'].isnull().sum()
def replace_lang(lang):
    if pd.isnull(lang):
        return nan_count
    return counts[lang]
data['Language'] = data['Language'].apply(replace_lang)
premier = data['Premiere']
for i in range(len(premier)):
  premier[i] = int(re.sub('.+ \d+. ', '', str(premier[i])))
#data['Premiere'].astype(int)

rating = data['IMDB Score']
for i in range (len(rating)):
  if rating[i] >= 6: rating[i] = 1
  else: rating[i] = 0 
#data.tail(10)
data = data.astype(np.int)
data.info()

Mounted at /content/drive
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 584 entries, 0 to 583
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Premiere    584 non-null    int64
 1   Runtime     584 non-null    int64
 2   IMDB Score  584 non-null    int64
 3   Language    584 non-null    int64
dtypes: int64(4)
memory usage: 18.4 KB

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Определим X и Y. Y - наш целевой параметр, X - все остальное.

In [ ]:
X = data[data.columns[:]]
y = data['IMDB Score']
X = X.drop(['IMDB Score'], axis='columns')
X.head(10)

   Premiere  Runtime  Language
0      2019       58         2
1      2020       81        31
2      2019       79        14
3      2018       94       401
4      2020       90        33
5      2019      147        33
6      2020      112         5
7      2020      149       401
8      2018       73       401
9      2021      139        33

Определим тестовые и тренировочные выборки.

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, stratify = y)

Посмотрим точность предсказаний и определим лучший гиперпараметр( при котором точность предсказаний максимальна).

In [ ]:
kfold = KFold(n_splits=6, shuffle=True, random_state=10) #генератор разбиений
accuracy= []
C_list = (10**-5, 10**-4, 10**-3, 10**-2, 10**-1, 10**0, 10**1, 10**2, 10**3, 10**4, 10**5)

for i in range(0, len(C_list)):
    clf = LogisticRegression(C=C_list[i], random_state=10, max_iter=200)
    current_score = cross_val_score(clf, X_train, y_train, cv=kfold).mean()
    accuracy.append(current_score)
    print('При С =', C_list[i], 'точность равна', current_score)
max_score = 0
for i in range(0, len(accuracy)):
    if max_score < accuracy[i]:
        max_score = accuracy[i]
        C_for_max_score = i
print('\n')
print('Максимальная точность, равная', max_score, ', получается при C, равном', C_list[C_for_max_score])

При С = 1e-05 точность равна 0.6461187214611872
При С = 0.0001 точность равна 0.6461187214611872
При С = 0.001 точность равна 0.6461187214611872
При С = 0.01 точность равна 0.6461187214611872
При С = 0.1 точность равна 0.6461187214611872
При С = 1 точность равна 0.6461187214611872
При С = 10 точность равна 0.6461187214611872
При С = 100 точность равна 0.6461187214611872
При С = 1000 точность равна 0.6461187214611872
При С = 10000 точность равна 0.6461187214611872
При С = 100000 точность равна 0.6461187214611872


Максимальная точность, равная 0.6461187214611872 , получается при C, равном 1e-05

Обучим выбранный параметр на нашей выборке.

In [ ]:
clf = LogisticRegression(C=C_list[C_for_max_score], random_state=10)
clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.6438356164383562

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/NetflixOriginals.csv', sep=',',encoding='latin-1')

data = data.drop(['Title','Genre'],axis = 'columns' ) 
counts = data['Language'].value_counts()
nan_count = data['Language'].isnull().sum()
def replace_lang(lang):
    if pd.isnull(lang):
        return nan_count
    return counts[lang]
data['Language'] = data['Language'].apply(replace_lang)
premier = data['Premiere']
for i in range(len(premier)):
  premier[i] = int(re.sub('.+ \d+. ', '', str(premier[i])))

rating = data['IMDB Score']
for i in range (len(rating)):
  if rating[i] >= 6: rating[i] = 1
  else: rating[i] = 0 
data = data.astype(np.int)

Обучим выборкну L2-регуляризации.

In [ ]:
from sklearn.linear_model import Ridge
def ridge_regression(X_train, y_train, alpha):
    ridgereg = Ridge(alpha=alpha, normalize=True)
    ridgereg.fit(X_train, y_train)
    y_pred = ridgereg.predict(X_train)
    rss = sum((y_pred-y_train)**2)
    ret=[rss]
    ret.extend([ridgereg.intercept_])
    ret.extend(ridgereg.coef_)
    return ret
alpha_ridge = [1e-15, 1e-10, 1e-8, 1e-4, 1e-3, 1e-2, 1, 5, 10, 20]
col = ['rss', 'intercept'] + ['coef_x_%d'%i for i in range(0, X_train.shape[1])]
ind = ['alpha_%.2g'%alpha_ridge[i] for i in range(0,10)]
coef_matrix_ridge = pd.DataFrame(index=ind, columns=col)
for i in range(10):
    coef_matrix_ridge.iloc[i,] = ridge_regression(X_train, y_train, alpha_ridge[i])

In [ ]:
coef_matrix_ridge

                  rss intercept    coef_x_0     coef_x_1     coef_x_2
alpha_1e-15   99.4375   39.2169  -0.0191139  -0.00016603  0.000119581
alpha_1e-10   99.4375   39.2169  -0.0191139  -0.00016603  0.000119581
alpha_1e-08   99.4375   39.2169  -0.0191139  -0.00016603  0.000119581
alpha_0.0001  99.4375   39.2136  -0.0191122 -0.000166024  0.000119573
alpha_0.001   99.4375    39.184  -0.0190976 -0.000165977  0.000119498
alpha_0.01    99.4376   38.8912  -0.0189525 -0.000165501  0.000118762
alpha_1        99.573   21.6897  -0.0104277 -0.000114615   6.9851e-05
alpha_5        99.886    8.1908 -0.00373849 -4.67437e-05  2.59171e-05
alpha_10      99.9947   4.83731 -0.00207677 -2.66745e-05  1.44966e-05
alpha_20      100.065   2.86521 -0.00109957 -1.43368e-05  7.70459e-06

Обучим выборкну L1-регуляризации.

In [ ]:
from sklearn.linear_model import Lasso
def lasso_regression(X_train, y_train, alpha):
    lassoreg = Lasso(alpha=alpha, normalize=True, max_iter=1e5)
    lassoreg.fit(X_train, y_train)
    y_pred = lassoreg.predict(X_train)
    rss = sum((y_pred-y_train)**2)
    ret=[rss]
    ret.extend([lassoreg.intercept_])
    ret.extend(lassoreg.coef_)
    return ret
alpha_lasso = [1e-15, 1e-10, 1e-8, 1e-5, 1e-4, 1e-3, 1e-2, 1, 5, 10]
col = ['rss', 'intercept'] + ['coef_x_%d'%i for i in range(0, X_train.shape[1])]
ind = ['alpha_%.2g'%alpha_lasso[i] for i in range(0,10)]
coef_matrix_lasso = pd.DataFrame(index=ind, columns=col)
for i in range(10):
    coef_matrix_lasso.iloc[i,] = lasso_regression(X_train, y_train, alpha_lasso[i])

In [ ]:
coef_matrix_lasso

                  rss intercept    coef_x_0     coef_x_1     coef_x_2
alpha_1e-15   99.4375   39.2169  -0.0191139  -0.00016603  0.000119581
alpha_1e-10   99.4375   39.2169  -0.0191139 -0.000166029  0.000119581
alpha_1e-08   99.4375   39.2168  -0.0191138 -0.000166024   0.00011958
alpha_1e-05   99.4376   39.0092  -0.0190112 -0.000159284  0.000118711
alpha_0.0001   99.442   37.1389  -0.0180865 -9.85667e-05  0.000110881
alpha_0.001   99.7477   17.0614 -0.00813483           -0  2.86915e-05
alpha_0.01    100.148  0.646119          -0           -0            0
alpha_1       100.148  0.646119          -0           -0            0
alpha_5       100.148  0.646119          -0           -0            0
alpha_10      100.148  0.646119          -0           -0            0

In [ ]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 584 entries, 0 to 583
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Premiere  584 non-null    int64
 1   Runtime   584 non-null    int64
 2   Language  584 non-null    int64
dtypes: int64(3)
memory usage: 13.8 KB

In [ ]:
X = X.drop(['Runtime'], axis='columns')

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, stratify=y)

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
clf = KNeighborsClassifier(n_neighbors=5)
clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.5821917808219178